body {
  margin: 0;
  padding: 30px 20px;
}
.form1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
#sex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#height {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#weight {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#age {
  display: flex;
  flex-direction: row;
  align-items: center;
}
